* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.nav-link:hover {
    text-decoration-line: underline;
}

.iconAppsGoogle {
    width: 26px;
}

.botonApps {
    border: 0;
    background-color: white;
    width: 40px;
    height: 40px;
}

.botonApps:hover {
    background-color: rgb(236, 234, 234);
    border-radius: 60px
}

.botonAcceder {
    border-radius: 5px !important
}

/* MAIN */

.contenedorInput {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 50px;
}

.contenedorInput:hover {
    border: 1px solid rgb(194, 187, 187);
}

.icono_busqueda {
    width: 22px;
    height: 22px;
}

.input {
    height: 100%;
    border-color: white;
}

.microGoogle {
    width: 22px;
    height: 22px;
}

.boton1:hover {
    border: 1px solid rgb(194, 187, 187) ;
}

.boton1 {
    color: #202124;
}

.linkIdioma {
    color: #1a0dab;
    text-decoration: none;
}

.linkIdioma:hover {
    text-decoration-line: underline;
    color: #1a0dab;
}

/* FOOTER */

.footer {
    background-color: #f2f2f2;
}

.paisFooter {
    padding: 15px 20px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
} 

.nav-link2 {
    display: block;
    padding: 15px;
    color: #70757a;
    text-decoration: none;
}

.nav-link2:hover {
    text-decoration-line: underline;
    color: #70757a;
}








